extends layout 

block content
    #content.site-content
        #primary.content-area.column.full
            main#main.site-main
                article.hentry
                    header.entry-header
                        h1.entry-title Коротко обо мне
                    .entry-content
                        p.imageabout
                            img.alignright(style='border:10px solid #f4f5f6', src='//springphoto.ru/about/about-me.jpg', alt='bg5', width='230')
                        p.aboutme Меня зовут Александра Андриуца, и я профессиональный фотограф.  На этом сайте вы найдете мои лучшие работы, которые отражают красоту окружающего мира. Если вы ищете талантливого фотографа для реализации ваших творческих идей, свяжитесь со мной, и мы обязательно обсудим условия сотрудничества.
                        h2(style='font-family: \'Herr Von Muellerhoff\';color:#ccc;font-weight:300;') Your, Alexandra Andriutsa
