extends layout 

block content
    #content.site-content
        #primary.content-area.column.full
            main#main.site-main
                article#post-39.post-39.page.type-page.status-publish.hentry
                    header.entry-header
                        h1.entry-title Контакты
                    .entry-content
                        .wpcmsdev-columns
                            .column.column-width-one-half
                                h4
                                    | Телефон:
                                    a(href='tel:+79125438883')
                                        u   +7 (912) 543 88 83
                                    br
                                    | Вконтакте:
                                    a(href='https://vk.com/studiospringtime')
                                        u   vk.com/studiospringtime
                                    br
                                    | WhatsApp:
                                    a(href='https://wa.me/qr/MMLTX5F2LFI4L1')
                                        u  whatsapp.com/sashapring
                                        |  или
                                    a(href='//springphoto.ru/contacts/qrwtapp.jpeg')
                                        u  QR-код

                                p.
                                    Если вы хотите нанять меня или у вас есть какие-либо вопросы о наших услугах в целом, отправьте нам сообщение на указанную почту. Однако лучше всего позвонить, мы всегда будем рады с вами пообщаться.
                            .column.column-width-one-half
                                h4
                                    | Телеграм (личка):
                                    a(href='https://t.me/sashaspring11')
                                        u   t.me/sashaspring11
                                    br
                                    | Телеграм (группа):
                                    a(href='https://t.me/sashasprin')
                                        u   t.me/sashasprin
